

<div class="o-wrapper">
    <div class="c-tier c-mix-tier_offsetAsymmetricalShort">
        <div class="o-vr o-vr_6x u-nav-action-height u-showAboveSmall" data-view="BackLinkView">
            <a href="#" class="c-txt c-txt_navAction c-txt_navAction_back u-isHidden js-backLink">

               
                <svg class="icon icon_angleLeft icon_navAction" role="img"  aria-label="angleLeft" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>

                Back to Previous
            </a>
        </div>


    <div class="c-tier c-mix-tier_offset">
        <div class="o-tabPanel" data-view="TabView">
            <div class="o-tabPanel-hd ">
                <ul class="o-triggerList">
                    <li>
                        <button data-tab-trigger="Related" role="tab" aria-controls="tab-related" class="c-btn c-btn_trigger c-mix-btn_blocked" id="label-related">Related</button>
                    </li>
                </ul>
            </div>
            <div class="o-tabPanel-bd">
                <div data-tab-content="Related" role="tabpanel" aria-labelledby="label-related" class="o-tabPanel-panel" id="tab-related">



                    <div data-view="DisclosureView">
                        <div class="o-vr o-vr_10x">
                            <ul class="o-sectionList o-mix-sectionList_obscuredAfter2" data-disclosure-role="panel" data-disclosure-threshold="2">
                                <li>
                                    <ul class="o-graphBlocks o-graphBlocks_2up@xsmall o-graphBlocks_3up@medium">





















                                        <li>
                                            <div class="o-card o-card_stretch ">
                                                <div class="o-card-bd">
                                                    <div class="c-feature">
                                                        <div class="c-feature-preamble">
                                                            <span class="c-txt c-txt_catMeta">author</span>
                                                        </div>

                                                        <div class="c-feature-hd">
                                                            <h2 class="c-hdgSans c-hdgSans_2">

                                                                <a href="https://www.invise.org/poets/al-alvarez">Al Alvarez</a>
                                                            </h2>
                                                        </div>


                                                        <div class="c-feature-sub ">
                            <span class="c-txt c-txt_attribution">



                    </span>
                                                        </div>

                                                        <div class="c-feature-bd">
                                                            <p>Poet, critic, and nonfiction writer Alfred Alvarez was born in London and educated at Oxford University. At age 28, Alvarez was the youngest person ever chosen by Princeton University to...</p>
                                                        </div>
                                                    </div>
                                                </div><div class="o-card-ft">
                                                <a href="https://www.invise.org/poets/al-alvarez" class="c-txt c-txt_minimalCta">
                                                    Read More
                                                </a>
                                            </div>
                                            </div>
                                        </li>

























                                        <li>
                                            <div class="o-card o-card_stretch ">
                                                <div class="o-card-bd">
                                                    <div class="c-feature">
                                                        <div class="c-feature-preamble">
                                                            <span class="c-txt c-txt_catMeta">author</span>
                                                        </div>

                                                        <div class="c-feature-hd">
                                                            <h2 class="c-hdgSans c-hdgSans_2">

                                                                <a href="https://www.invise.org/poets/stephen-berg">Stephen Berg</a>
                                                            </h2>
                                                        </div>


                                                        <div class="c-feature-sub ">
                            <span class="c-txt c-txt_attribution">



                    </span>
                                                        </div>

                                                        <div class="c-feature-bd">
                                                            <p>Poet and editor Stephen Berg attended the University of Pennsylvania, Boston University, the University of Indiana, and the University of Iowa, where he earned his BA. His collections of poetry...</p>
                                                        </div>
                                                    </div>
                                                </div><div class="o-card-ft">
                                                <a href="https://www.invise.org/poets/stephen-berg" class="c-txt c-txt_minimalCta">
                                                    Read More
                                                </a>
                                            </div>
                                            </div>
                                        </li>

























                                        <li>
                                            <div class="o-card o-card_stretch ">
                                                <div class="o-card-bd">
                                                    <div class="c-feature">
                                                        <div class="c-feature-preamble">
                                                            <span class="c-txt c-txt_catMeta">author</span>
                                                        </div>

                                                        <div class="c-feature-hd">
                                                            <h2 class="c-hdgSans c-hdgSans_2">

                                                                <a href="https://www.invise.org/poets/rupert-brooke">Rupert Brooke</a>
                                                            </h2>
                                                        </div>


                                                        <div class="c-feature-sub ">
                            <span class="c-txt c-txt_attribution">



                    </span>
                                                        </div>

                                                        <div class="c-feature-bd">
                                                            <p>Few writers have provoked as much excessive praise and scornful condemnation as English poet Rupert Brooke. Handsome, charming, and talented, Brooke was a national hero even before his death in...</p>
                                                        </div>
                                                    </div>
                                                </div><div class="o-card-ft">
                                                <a href="https://www.invise.org/poets/rupert-brooke" class="c-txt c-txt_minimalCta">
                                                    Read More
                                                </a>
                                            </div>
                                            </div>
                                        </li>




                                    </ul><!-- end .graphBlocks -->
                                </li>
                                <li>
                                    <ul class="o-graphBlocks o-graphBlocks_2up@xsmall o-graphBlocks_3up@medium">





















                                        <li>
                                            <div class="o-card o-card_stretch ">
                                                <div class="o-card-bd">
                                                    <div class="c-feature">
                                                        <div class="c-feature-preamble">
                                                            <span class="c-txt c-txt_catMeta">author</span>
                                                        </div>

                                                        <div class="c-feature-hd">
                                                            <h2 class="c-hdgSans c-hdgSans_2">

                                                                <a href="https://www.invise.org/poets/kevin-coval">Kevin Coval</a>
                                                            </h2>
                                                        </div>


                                                        <div class="c-feature-sub ">
                            <span class="c-txt c-txt_attribution">



                    </span>
                                                        </div>

                                                        <div class="c-feature-bd">
                                                            <p>Poet and activist Kevin Coval was raised in the suburbs of Chicago and educated at Ohio University, the University of Wales, and DePaul University. His brave, socially engaged poems weave...</p>
                                                        </div>
                                                    </div>
                                                </div><div class="o-card-ft">
                                                <a href="https://www.invise.org/poets/kevin-coval" class="c-txt c-txt_minimalCta">
                                                    Read More
                                                </a>
                                            </div>
                                            </div>
                                        </li>

























                                        <li>
                                            <div class="o-card o-card_stretch ">
                                                <div class="o-card-bd">
                                                    <div class="c-feature">
                                                        <div class="c-feature-preamble">
                                                            <span class="c-txt c-txt_catMeta">author</span>
                                                        </div>

                                                        <div class="c-feature-hd">
                                                            <h2 class="c-hdgSans c-hdgSans_2">

                                                                <a href="https://www.invise.org/poets/rita-dove">Rita Dove</a>
                                                            </h2>
                                                        </div>


                                                        <div class="c-feature-sub ">
                            <span class="c-txt c-txt_attribution">



                    </span>
                                                        </div>

                                                        <div class="c-feature-bd">
                                                            <p>Rita Dove was born in Akron, Ohio in 1952. A 1970 Presidential Scholar, she attended Miami University of Ohio, Universität Tübingen in Germany, and the University of Iowa, where she...</p>
                                                        </div>
                                                    </div>
                                                </div><div class="o-card-ft">
                                                <a href="https://www.invise.org/poets/rita-dove" class="c-txt c-txt_minimalCta">
                                                    Read More
                                                </a>
                                            </div>
                                            </div>
                                        </li>

























                                        <li>
                                            <div class="o-card o-card_stretch ">
                                                <div class="o-card-bd">
                                                    <div class="c-feature">
                                                        <div class="c-feature-preamble">
                                                            <span class="c-txt c-txt_catMeta">author</span>
                                                        </div>

                                                        <div class="c-feature-hd">
                                                            <h2 class="c-hdgSans c-hdgSans_2">

                                                                <a href="https://www.invise.org/poets/robert-graves">Robert Graves</a>
                                                            </h2>
                                                        </div>


                                                        <div class="c-feature-sub ">
                            <span class="c-txt c-txt_attribution">



                    </span>
                                                        </div>

                                                        <div class="c-feature-bd">
                                                            <p>Robert Graves was born to parents Alfred Perceval Graves and Amalie von Ranke Graves in 1895 in Wimbledon, near London, England. He was one of ten children. His father was...</p>
                                                        </div>
                                                    </div>
                                                </div><div class="o-card-ft">
                                                <a href="https://www.invise.org/poets/robert-graves" class="c-txt c-txt_minimalCta">
                                                    Read More
                                                </a>
                                            </div>
                                            </div>
                                        </li>




                                    </ul><!-- end .graphBlocks -->
                                </li>
                                <li>
                                    <ul class="o-graphBlocks o-graphBlocks_2up@xsmall o-graphBlocks_3up@medium">





















                                        <li>
                                            <div class="o-card o-card_stretch ">
                                                <div class="o-card-bd">
                                                    <div class="c-feature">
                                                        <div class="c-feature-preamble">
                                                            <span class="c-txt c-txt_catMeta">author</span>
                                                        </div>

                                                        <div class="c-feature-hd">
                                                            <h2 class="c-hdgSans c-hdgSans_2">

                                                                <a href="https://www.invise.org/poets/samuel-johnson">Samuel Johnson</a>
                                                            </h2>
                                                        </div>


                                                        <div class="c-feature-sub ">
                            <span class="c-txt c-txt_attribution">



                    </span>
                                                        </div>

                                                        <div class="c-feature-bd">
                                                            <p>Samuel Johnson, the premier English literary figure of the mid and late 18th century, was a writer of exceptional range: a poet, a lexicographer, a translator, a journalist and essayist, a...</p>
                                                        </div>
                                                    </div>
                                                </div><div class="o-card-ft">
                                                <a href="https://www.invise.org/poets/samuel-johnson" class="c-txt c-txt_minimalCta">
                                                    Read More
                                                </a>
                                            </div>
                                            </div>
                                        </li>

























                                        <li>
                                            <div class="o-card o-card_stretch ">
                                                <div class="o-card-bd">
                                                    <div class="c-feature">
                                                        <div class="c-feature-preamble">
                                                            <span class="c-txt c-txt_catMeta">author</span>
                                                        </div>

                                                        <div class="c-feature-hd">
                                                            <h2 class="c-hdgSans c-hdgSans_2">

                                                                <a href="https://www.invise.org/poets/garrison-keillor">Garrison Keillor</a>
                                                            </h2>
                                                        </div>


                                                        <div class="c-feature-sub ">
                            <span class="c-txt c-txt_attribution">



                    </span>
                                                        </div>

                                                        <div class="c-feature-bd">
                                                            <p>Garrison Keillor is the former host and writer of <em>A Prairie Home Companion</em> and <em>The Writer's Almanac</em>. He is the editor of two poetry anthologies, <em>Good Poems</em> and <em>Good Poems...</em></p>
                                                        </div>
                                                    </div>
                                                </div><div class="o-card-ft">
                                                <a href="https://www.invise.org/poets/garrison-keillor" class="c-txt c-txt_minimalCta">
                                                    Read More
                                                </a>
                                            </div>
                                            </div>
                                        </li>

























                                        <li>
                                            <div class="o-card o-card_stretch ">
                                                <div class="o-card-bd">
                                                    <div class="c-feature">
                                                        <div class="c-feature-preamble">
                                                            <span class="c-txt c-txt_catMeta">author</span>
                                                        </div>

                                                        <div class="c-feature-hd">
                                                            <h2 class="c-hdgSans c-hdgSans_2">

                                                                <a href="https://www.invise.org/poets/august-kleinzahler">August Kleinzahler</a>
                                                            </h2>
                                                        </div>


                                                        <div class="c-feature-sub ">
                            <span class="c-txt c-txt_attribution">



                    </span>
                                                        </div>

                                                        <div class="c-feature-bd">
                                                            <p>August Kleinzahler was born on December 10, 1949 in Jersey City, New Jersey. He grew up in Fort Lee, New Jersey and has been a longtime resident of San Francisco,...</p>
                                                        </div>
                                                    </div>
                                                </div><div class="o-card-ft">
                                                <a href="https://www.invise.org/poets/august-kleinzahler" class="c-txt c-txt_minimalCta">
                                                    Read More
                                                </a>
                                            </div>
                                            </div>
                                        </li>




                                    </ul><!-- end .graphBlocks -->
                                </li>
                                <li>
                                    <ul class="o-graphBlocks o-graphBlocks_2up@xsmall o-graphBlocks_3up@medium">





















                                        <li>
                                            <div class="o-card o-card_stretch ">
                                                <div class="o-card-bd">
                                                    <div class="c-feature">
                                                        <div class="c-feature-preamble">
                                                            <span class="c-txt c-txt_catMeta">author</span>
                                                        </div>

                                                        <div class="c-feature-hd">
                                                            <h2 class="c-hdgSans c-hdgSans_2">

                                                                <a href="https://www.invise.org/poets/quraysh-ali-lansana">Quraysh Ali Lansana</a>
                                                            </h2>
                                                        </div>


                                                        <div class="c-feature-sub ">
                            <span class="c-txt c-txt_attribution">



                    </span>
                                                        </div>

                                                        <div class="c-feature-bd">
                                                            <p>Quraysh Ali Lansana was born in Enid, Oklahoma and earned his MFA from New York University, where he was a Departmental Fellow. He is the author of the poetry collections...</p>
                                                        </div>
                                                    </div>
                                                </div><div class="o-card-ft">
                                                <a href="https://www.invise.org/poets/quraysh-ali-lansana" class="c-txt c-txt_minimalCta">
                                                    Read More
                                                </a>
                                            </div>
                                            </div>
                                        </li>

























                                        <li>
                                            <div class="o-card o-card_stretch ">
                                                <div class="o-card-bd">
                                                    <div class="c-feature">
                                                        <div class="c-feature-preamble">
                                                            <span class="c-txt c-txt_catMeta">author</span>
                                                        </div>

                                                        <div class="c-feature-hd">
                                                            <h2 class="c-hdgSans c-hdgSans_2">

                                                                <a href="https://www.invise.org/poets/philip-larkin">Philip Larkin</a>
                                                            </h2>
                                                        </div>


                                                        <div class="c-feature-sub ">
                            <span class="c-txt c-txt_attribution">



                    </span>
                                                        </div>

                                                        <div class="c-feature-bd">
                                                            <p>Philip Larkin was born in Coventry, England in 1922. He earned his BA from St. John’s College, Oxford, where he befriended novelist and poet Kingsley Amis and finished with First...</p>
                                                        </div>
                                                    </div>
                                                </div><div class="o-card-ft">
                                                <a href="https://www.invise.org/poets/philip-larkin" class="c-txt c-txt_minimalCta">
                                                    Read More
                                                </a>
                                            </div>
                                            </div>
                                        </li>

























                                        <li>
                                            <div class="o-card o-card_stretch ">
                                                <div class="o-card-bd">
                                                    <div class="c-feature">
                                                        <div class="c-feature-preamble">
                                                            <span class="c-txt c-txt_catMeta">author</span>
                                                        </div>

                                                        <div class="c-feature-hd">
                                                            <h2 class="c-hdgSans c-hdgSans_2">

                                                                <a href="https://www.invise.org/poets/nate-marshall">Nate Marshall</a>
                                                            </h2>
                                                        </div>


                                                        <div class="c-feature-sub ">
                            <span class="c-txt c-txt_attribution">



                    </span>
                                                        </div>

                                                        <div class="c-feature-bd">
                                                            <p>Nate Marshall is from the South Side of Chicago. His first book, <em>Wild Hundreds </em>(University of Pittsburgh Press, 2015), won the Agnes Lynch Starrett Prize. He is a coeditor of...</p>
                                                        </div>
                                                    </div>
                                                </div><div class="o-card-ft">
                                                <a href="https://www.invise.org/poets/nate-marshall" class="c-txt c-txt_minimalCta">
                                                    Read More
                                                </a>
                                            </div>
                                            </div>
                                        </li>




                                    </ul><!-- end .graphBlocks -->
                                </li>
                                <li>
                                    <ul class="o-graphBlocks o-graphBlocks_2up@xsmall o-graphBlocks_3up@medium">





















                                        <li>
                                            <div class="o-card o-card_stretch ">
                                                <div class="o-card-bd">
                                                    <div class="c-feature">
                                                        <div class="c-feature-preamble">
                                                            <span class="c-txt c-txt_catMeta">author</span>
                                                        </div>

                                                        <div class="c-feature-hd">
                                                            <h2 class="c-hdgSans c-hdgSans_2">

                                                                <a href="https://www.invise.org/poets/robert-mezey">Robert Mezey</a>
                                                            </h2>
                                                        </div>


                                                        <div class="c-feature-sub ">
                            <span class="c-txt c-txt_attribution">



                    </span>
                                                        </div>

                                                        <div class="c-feature-bd">
                                                            <p>Poet, critic, and translator Robert Mezey was born in Philadelphia. He attended Kenyon College before a stint in the US Army and ultimately earned his BA from the University of...</p>
                                                        </div>
                                                    </div>
                                                </div><div class="o-card-ft">
                                                <a href="https://www.invise.org/poets/robert-mezey" class="c-txt c-txt_minimalCta">
                                                    Read More
                                                </a>
                                            </div>
                                            </div>
                                        </li>































                                        <li>
                                            <div class="o-card o-card_stretch ">
                                                <div class="o-card-bd">
                                                    <div class="c-feature">
                                                        <div class="c-feature-preamble">
                                                            <span class="c-txt c-txt_catMeta">Prose from <i>Poetry</i> Magazine</span>
                                                        </div>

                                                        <div class="c-feature-hd">
                                                            <h2 class="c-hdgSans c-hdgSans_2">
                                                                <svg class="icon icon_invine icon_companion mix-icon_brand" role="img" aria-labelledby="title-8425"><title id="title-8425">Appeared in Poetry Magazine</title><use xlink:href="#icon_invine"></use></svg>
                                                                <a href="https://www.invise.org/invine/articles/60488/no-antonin-artaud-with-the-flapjacks-please">No Antonin Artaud with the Flapjacks, Please</a>
                                                            </h2>
                                                        </div>


                                                        <div class="c-feature-sub ">
                            <span class="c-txt c-txt_attribution">

    By August Kleinzahler

                    </span>
                                                        </div>

                                                    </div>
                                                </div><div class="o-card-ft">
                                                <a href="https://www.invise.org/invine/articles/60488/no-antonin-artaud-with-the-flapjacks-please" class="c-txt c-txt_minimalCta">
                                                    Read More
                                                </a>
                                            </div>
                                            </div>
                                        </li>

























                                        <li>
                                            <div class="o-card o-card_stretch ">
                                                <div class="o-card-bd">
                                                    <div class="c-feature">
                                                        <div class="c-feature-preamble">
                                                            <span class="c-txt c-txt_catMeta">author</span>
                                                        </div>

                                                        <div class="c-feature-hd">
                                                            <h2 class="c-hdgSans c-hdgSans_2">

                                                                <a href="https://www.invise.org/poets/laura-riding-jackson">Laura Riding Jackson</a>
                                                            </h2>
                                                        </div>


                                                        <div class="c-feature-sub ">
                            <span class="c-txt c-txt_attribution">



                    </span>
                                                        </div>

                                                        <div class="c-feature-bd">
                                                            <p>Laura Riding, later known as Laura (Riding) Jackson, was born in New York City and studied at Cornell University. She “was still in her thirties when she published her 477-page...</p>
                                                        </div>
                                                    </div>
                                                </div><div class="o-card-ft">
                                                <a href="https://www.invise.org/poets/laura-riding-jackson" class="c-txt c-txt_minimalCta">
                                                    Read More
                                                </a>
                                            </div>
                                            </div>
                                        </li>




                                    </ul><!-- end .graphBlocks -->
                                </li>
                                <li>
                                    <ul class="o-graphBlocks o-graphBlocks_2up@xsmall o-graphBlocks_3up@medium">





















                                        <li>
                                            <div class="o-card o-card_stretch ">
                                                <div class="o-card-bd">
                                                    <div class="c-feature">
                                                        <div class="c-feature-preamble">
                                                            <span class="c-txt c-txt_catMeta">author</span>
                                                        </div>

                                                        <div class="c-feature-hd">
                                                            <h2 class="c-hdgSans c-hdgSans_2">

                                                                <a href="https://www.invise.org/poets/helen-vendler">Helen Vendler</a>
                                                            </h2>
                                                        </div>


                                                        <div class="c-feature-sub ">
                            <span class="c-txt c-txt_attribution">



                    </span>
                                                        </div>

                                                        <div class="c-feature-bd">
                                                            <p>Helen Vendler was born in Boston, Massachusetts, to schoolteachers. Raised in a devout Roman Catholic family, Vendler attended Emmanuel College, a Catholic school for women in Boston, where she studied...</p>
                                                        </div>
                                                    </div>
                                                </div><div class="o-card-ft">
                                                <a href="https://www.invise.org/poets/helen-vendler" class="c-txt c-txt_minimalCta">
                                                    Read More
                                                </a>
                                            </div>
                                            </div>
                                        </li>




                                    </ul><!-- end .graphBlocks -->
                                </li>

                            </ul><!-- end .sectionList -->
                        </div>
                        <div class="o-vr o-mix-vr_ctr">
                            <button href="#" class="c-btn c-btn_inverted c-mix-btn_sm" data-disclosure-role="trigger" data-disclosure-closetext="Show Fewer">
                                <span>Show More</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>.