<div class="o-mastheadSmall u-hideAboveSmall" data-view="MobileNavView">
    <div class="o-mastheadSmall-inner">
        <div class="c-mobileNav">
            <button class="c-btn c-btn_cylon c-btn_cylon_shrinkwrapped js-mobileNavTrigger"
                aria-expanded="false" aria-controls="mobileNav">
                <span class="c-dynamicBars">
                    <span class="u-isVisuallyHidden">Show Menu</span>
                    <span class="c-dynamicBars-display"></span>
                </span>
            </button>
            <a href="https://www.poetryfoundation.org/" class="c-mobileNav-branding">

                <svg class="icon icon_mobilePegasus icon_uniqueBranding" role="img"
                    aria-label="mobilePegasus">
                    
                </svg>

                <span class="c-txt c-txt_tag c-txt_tag_mini mix-txt_brand mix-txt_brand_pure">Poetry
                    Foundation</span>
            </a>
            <div class="c-mobileNav-search js-mobileNavTrigger" aria-expanded="false"
                aria-controls="mobileSearch" role="button">
                <button class="c-btn c-btn_cylon c-btn_cylon_shrinkwrapped">

                    <svg class="icon icon_search " role="img" aria-label="search">
                        
                    </svg>

                </button>
                <button class="c-btn c-btn_cylon c-btn_cylon_shrinkwrapped">
                    <span class="c-dynamicDismissal"></span>
                </button>
            </div>
        </div>
        <div class="o-mastheadSmall-drawer js-mobileNavViewport" id="mobileNav" aria-hidden="true">
            <div class="navDrawer">
                <div class="navDrawer-bd">
                    <ul class="c-pianoList">
                        <li class="c-pianoList-item c-collapsible isCollapsed" data-view="CollapsibleView">
                            <a class="c-pianoList-link c-pianoList-link_canDisclose"
                                href="https://www.poetryfoundation.org/poems"
                                data-collapsible-role="trigger">Poems & Poets</a>
                            <div data-collapsible-role="panel">
                                <div class="c-navPanel">
                                    <ul>
                                        <li class="c-navPanel-item">
                                            <a href="https://www.poetryfoundation.org/poems">Poems Home</a>
                                        </li>
                                        <li class="c-navPanel-item">
                                            <a href="https://www.poetryfoundation.org/poems/guides">Poem
                                                Guides</a>
                                        </li>
                                        <li class="c-navPanel-item">
                                            <a href="https://www.poetryfoundation.org/poets">Poets Home</a>
                                        </li>
                                        <li class="c-navPanel-item">
                                            <a
                                                href="https://www.poetryfoundation.org/poems/poem-of-the-day">Poem
                                                of the Day</a>
                                        </li>
                                        <li class="c-navPanel-item">
                                            <a
                                                href="https://www.poetryfoundation.org/collections">Collections</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="c-pianoList-item c-collapsible isCollapsed" data-view="CollapsibleView">
                            <a class="c-pianoList-link c-pianoList-link_canDisclose"
                                href="https://www.poetryfoundation.org/harriet-books"
                                data-collapsible-role="trigger">Harriet</a>
                            <div data-collapsible-role="panel">
                                <div class="c-navPanel">
                                    <ul>
                                        <li class="c-navPanel-item">
                                            <a href="https://www.poetryfoundation.org/harriet-books">Harriet
                                                Books</a>
                                        </li>
                                        <li class="c-navPanel-item">
                                            <a
                                                href="https://www.poetryfoundation.org/harriet-books/featured-bloggers">Featured
                                                Blogger</a>
                                        </li>
                                        <li class="c-navPanel-item">
                                            <a href="https://www.poetryfoundation.org/harriet-books/browse">All
                                                Posts</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                      
                    </ul>
                    
                </div>
                <div class="navDrawer-ft">
                    <a href="https://www.poetryfoundation.org/newsletter"
                        class="c-txt c-txt_meta c-txt_meta_snowflake">Newsletter</a>
                    <div class="navDrawer-ft-actions navDrawer-ft-actions_illuminated">
                        <a href="https://www.poetryfoundation.org/poetrymagazine/subscribe"
                            class="c-btn c-btn_inverted c-btn_inverted_illuminated mix-btn_curated">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-mastheadSmall-drawer o-mastheadSmall-drawer_truncated js-mobileNavViewport"
            id="mobileSearch" aria-hidden="true">
            <div class="navDrawer">
                <div class="navDrawer-bd" data-view="SearchAutocomplete">
                    <form action="https://www.poetryfoundation.org/search" method="get">
                        <div class="o-inputShell">
                            <div class="o-inputShell-input" role="search">
                                <label class="u-isVisuallyHidden" for="mobileSearchInput">Search</label>
                                <input class="c-field c-field_text mix-field_offset js-inertSearch"
                                    id="mobileSearchInput" type="search"
                                    placeholder="Search by Poem or Poet" data-autocomplete-role="input"
                                    autocomplete="off" maxlength="50" name="query" />
                            </div>
                            <div class="o-inputShell-actions">
                                <button class="c-btn c-btn_transparent mix-btn_micro js-focusCompanion"
                                    type="submit" title="Submit Search" value="Submit">

                                    <svg class="icon icon_search icon_sm" role="img" aria-label="search">
                                        
                                    </svg>

                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="navDrawer-actions">
                        <div class="c-navPanel c-navPanel_lean" data-autocomplete-role="resultsContainer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>