
@font-face {
  font-family: 'adobe-garamond-pro';
  src: url('/fonts/adobe-garamond-pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('/fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  
@font-face {
    font-family: "Lato";
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "canada-type-gibson";
    src: url('/fonts/canada-type-gibson.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }